body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    background-color: lightgreen;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: green;
}

/* Animation de texte défilant */
.scroll-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(200%);
    }
}
