<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Performance QSE</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="scroll-text">Welcome to Performance QSE API</h1>
    <div class="container">
        <h2>API Performance QSE API</h2>
        <p>Info API : This API has been developed by AKA Joël</p><br>
        <p>
            Le but principal de cette API est de servir de backend pour le projet<br>"Performance QSE"
            de l'entreprise Vision & Stratégie Groupe
        </p>
    </div>
</body>
</html>
