<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Performance QSE</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <container>
        <div class="container">
            <h1 class="scroll-text">Welcome to Performance QSE API</h1>
            <p>Version: 1.2.0</p>
            <p>Info API : This API is developed by AKA Joël</p>
        </div>
    </container>
</body>
</html>
